{% extends 'base.html.twig' %}

{% block title %}Ajouter un employe{% endblock %}

{% block body %}
{% if employe is not defiined %}

    <h1 class="text-center my-4">Ajout d'un nouvel employé</h1>

    <h1 class="text-center my-4">Modifier l'employe {{ employe.firstname}} {{employe lastname}}</h1>
    {% endif %}

    <div class="row">
      <div class="col-8 mx-auto mb-4">
{#Pour afficher un formulaire avec twig, appelle la fonction form et renseignez le # nom du formulaire à afficher #}
{# symfony implante par  défaut d'un theme bootstrap 5 #}


          {{  form_start(form_employe) }}

{# Pour désactiver le validateur HTML coté-client (navigateur) on peut le faire 
            dans EmployeFormType ('submit') OU dans le form_start en second argument comme suit: #}




          {{  form_row(form_employe.lastname) }} 
          {{  form_row(form_employe.firstname) }} 

         <div class="row">
         <div class="col-6">{{ form_row(form_employe.service) }}</div>
         <div class="col-6">{{ form_row(form_employe.salary ) }}</div>
         </div>

         {#  COMPOSITION D'UNE FORM_ROW() #}
{#                {{ form_label(form_employe.gender) }}#}
{#                {{ form_errors(form_employe.gender) }}#}
{#                {{ form_widget(form_employe.gender) }}#}
{#                {{ form_help(form_employe.gender) }}#}
{# Vous devrez afficher tous les éléments de form_row, sans quoi vos éléments seront rendus une seconde fois #

            {{  form_row(form_employe.gender) }} 
            {{  form_row(form_employe.entryAt) }} 

          {{  form_end(form_employe) }} 

          {# Si vous n'affichez pas toutes les form_row, la fonction form_end() les rendra quoi qu'il arrive. #}



      </div>
    </div>

    {% endblock %}

    
